@{
    ViewData["Title"] = "Sales Platform";
}

<div class="card bg-light">
    <div class="card-header">A web-based system</div>
    <div class="card-body">
        <h4 class="card-title">Sales Perfomance Platform</h4>
        <p class="card-text">
            A web-based system that allows users to register departments and salespeople,
            generates a sales report that groups sales by department. This system was built using ASP .NET Core MVC and Entity Framework technologies.
            With this system, users can easily manage and track sales, as well as view detailed reports for analysis and decision-making purposes.
            The use of these technologies ensures a reliable and efficient system that can scale to meet the needs of growing businesses.
        </p>
     </div>
</div>
